<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;add a link //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<div class="w3-display-middle">
  <%= form_for @link do |f| %>
  <p><%= f.text_field :name, placeholder: "Name"%></p>
  <p><%= f.url_field :source, size: "70x10", placeholder: "Source"%></p>
  <p><%= f.text_area :description, size: "70x10", placeholder: "Description"%></p>
  <p><%= f.select :status, [['To Read', true], ['Have Read', false]]%> &nbsp;&nbsp; &nbsp;&nbsp;

  <%= f.submit %>
  <% end %>
</div>
