<div class="w3-display-left">
  <h1 class="w3-xl"><b>&nbsp;&nbsp;&nbsp;&nbsp;link //</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

  <div class="w3-display-middle">
    <p><b>Name:</b> <%=@link.name %></p>
    <p><b>Source:</b> <%=@link.source%></p>
    <p><b>Description:</b> <%=@link.description%></p></br>

    <p>// <a href="/teachers/new"><%="Create a Teacher."%></a></p>
    <p>// <a href="/teachings/new"><%="Create a Teaching."%></a></p>
    <p>//<%= link_to('Edit this link.',{:controller => 'links',:action => 'edit'})%><p>
    <p>//<%= link_to('Delete this link.', link_path(@link), method: :delete, data: { confirm: 'Are you sure?' }) %></p>
  </div>
