<div class="w3-display-topmiddle">
  <h1 class="w3-xl"><b>teachings</b></h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">

    <p>Teaching: <%=@teaching.name %></p>
    <p>Content: <%=@teaching.content%></p>
    <p>Media Type: <%=@teaching.media_type%></p>
    <p>Source: <%=@teaching.source%></p>
    <p>Teacher: <%=@teaching.teacher.name.capitalize%>
    <p>// <a href="/teachings/new"><%="Record a Teaching that you want to remember."%></a></p>
